@import url('https://fonts.googleapis.com/css?family=Muli');

html, body {
  font-family: 'Muli', sans-serif !important;
  padding: 0;
  margin: 0;
}

body {
  min-height: 1024px;
}

h1, h2, h3, h4, h5, h6 {
  color: #a8395c;
}
